* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #0f0f0f;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: flex;

  #canvas {
    height: 100%;
    width: 100%;
    // background: #232121;
    background-image: url("./images/canvas.png");
    background-size: cover;
    position: relative;
    overflow: hidden;

    .canvasText {
    user-select: none;
    white-space: nowrap;
}

.selectedText {
    outline: 1px dashed #00f;
}


    .newTriangle {
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #424242;
      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    .selectedTriangle {
      outline: 2px solid rgb(91, 206, 255);
    }

    .newCircle {
      position: absolute;
      height: 100px;
      width: 100px;
      background-color: #424242;
      border-radius: 50%;
    }

    .selectedCircle {
      outline: 2px solid rgb(91, 206, 255);
    }

    .newRectangle {
      position: absolute;
      height: 100px;
      width: 200px;
      background-color: #424242;
    }

    .newRectangle:hover {
      cursor: move;
    }

    .selected {
      outline: 2px dotted rgb(91, 206, 255);
    }

    .resize-handle {
      width: 10px;
      height: 10px;
      background: white;
      border: 1px solid black;
      position: absolute;
      right: -5px;
      bottom: -5px;
      cursor: se-resize;
    }

    .tl {
      top: -5px;
      left: -5px;
      cursor: nw-resize;
    }
    .tr {
      top: -5px;
      right: -5px;
      cursor: ne-resize;
    }
    .bl {
      bottom: -5px;
      left: -5px;
      cursor: sw-resize;
    }
    .br {
      bottom: -5px;
      right: -5px;
      cursor: se-resize;
    }
  }

  #propPanel {
    width: 20%;
    height: 100%;
    background-color: #0e0e0e;
    padding: 10px;
    overflow: hidden;
    .propPanelContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .properties {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .props {
          display: flex;
          flex-direction: column;
          gap: 5px;
          p {
            color: white;
          }
          input {
            width: 100%;
            border: none;
            padding: 5px;
            outline: none;
            border: 1px solid white;
            background: #383838;
            color: white;
          }

          #colorPicker{
            padding: 2px;
          }
        }

        .shapeMove {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          p {
            color: white;
          }
          .centerButtons {
            display: flex;
            gap: 8px;
          }
          button {
            width: 100%;
            border: none;
            padding: 8px;
            background: #383838;
            color: white;
            cursor: pointer;
          }
        }

        .rotateShape {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;
          p {
            color: white;
          }
          .rotateButtons {
            width: 100%;
            display: flex;
            gap: 5px;

            button {
              width: 100%;
              border: none;
              padding: 8px;
              background: #383838;
              color: white;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  #layerPanel {
    width: 20%;
    height: 100%;
    background-color: #0e0e0e;
    padding: 10px;
    overflow: hidden;
    position: relative;
    
    .export{
      position: absolute;
      bottom: 3%;
      display: flex;
      gap: 5px;
      button{
        border: none;
        padding: 5px 8px;
        background: #000;
        color: white;
        cursor: pointer;
        border-radius: 3px
      }
    }

    .layerPanelContainer {
      display: flex;
      flex-direction: column;
      gap: 10px;

      h1 {
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
      }

      .layers {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: hidden;

        .layer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          color: white;
          background: #1a1a1a;
          padding: 10px 8px;
          border-radius: 5px;

          .upDown-container{
            span{
              cursor: pointer;
            }
          }

          #hide {
            cursor: pointer;
          }

          #unHide {
            display: none;
            cursor: pointer;
          }
        }

        .layer.active {
          background: #2f2f2f;
          border: 1px solid rgb(91, 206, 255);
        }
      }
    }
  }

  #panel {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

    .panel-options {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        border: none;
        padding: 8px;
        background: #242424;
        border-radius: 5px;
        color: white;

        i {
          font-size: 1rem;
        }
      }

      input {
        border: none;
        padding: 5px;
        background: #242424;
        border-radius: 5px;
        color: white;
        width: 33px;
        height: 33px;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
      }
    }
  }
}
